<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notably">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".NotablyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notably">
        <activity
            android:name=".ui.view.ViewAttachedVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.todo.TodoListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.todo.TodoCreateListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.todo.ViewTodoActivity"
            android:exported="false" />
        <activity
            android:name=".filter.FilteredNotesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.edit.category.EditCategoryActivity"
            android:exported="false" />
        <activity android:name=".ui.view.ViewAttachedImageActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.add.AddNoteActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".receivers.ReminderReceiver" />
    </application>

</manifest>
